.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  transition: 0.3s;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.addContent {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(95, 144, 169, 0.9);
  text-transform: uppercase;
  margin: 20px 0;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid rgba(95, 144, 169, 0.9);
  }
}

.removeContent {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  color: rgba(95, 144, 169, 0.9);
  margin-left: 25px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid rgba(95, 144, 169, 0.9);
  }
}

.saveChanges {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(95, 144, 169, 0.9);
  border: 1px solid rgba(95, 144, 169, 0.9);
  border-radius: 6px;
  padding: 5px;
  text-transform: capitalize;

  &:hover {
    opacity: 0.7;
  }
}

.apply {
  width: 150px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(95, 144, 169, 0.9);
  border: 1px solid rgba(95, 144, 169, 0.9);
  border-radius: 6px;
  padding: 5px;
  text-transform: capitalize;

  &:hover {
    opacity: 0.7;
  }
}