.text {
  font-size: 18px;
}

.textTitleContent {
  font-weight: bold;
  color: rgba(95, 144, 169, 0.9);
}

.contentItem {
  width: 100%;
}

.titleWorldSetting {
  font-size: 20px;
  font-weight: bold;
  color: rgba(95, 144, 169, 0.9);
}

.itemText {
  width: 100%;
  font-size: 16px;
}