.worldSetting {
  border: transparent;
  border-bottom: 1px solid  rgba(95, 144, 169, var(--tw-text-opacity));
  width: 100%;
  color: rgba(95, 144, 169, var(--tw-text-opacity));
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  padding: 0;

  &::placeholder {
    color: #898989;
    text-transform: capitalize;
  }

  &:-ms-input-placeholder {
    color: #898989;
  }

  &::-ms-input-placeholder {
    color: #898989;
  }
  &:focus {
    outline: none !important;
    -webkit-appearance:none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-appearance: none !important;
  }
  &:hover {
    cursor: pointer;
  }
}