.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px;

  .boxTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}