.containerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.containerTitle {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;

  h1 {
    margin-right: 40px;
  }
}